qlib_init:
  provider_uri: "data/qlib/cn_data"
  region: cn

market: &market csi1000
benchmark: &benchmark SH000852

data_handler_config: &data_handler_config
  start_time: 2018-01-01
  end_time: 2024-12-31
  fit_start_time: 2018-01-01
  fit_end_time: 2022-12-31
  instruments: *market

port_analysis_config: &port_analysis_config
  strategy:
    class: TopkDropoutStrategy
    module_path: qlib.contrib.strategy
    kwargs:
      signal: <PRED>
      topk: 30
      n_drop: 5
      hold_thresh: 20
  backtest:
    start_time: 2024-01-01
    end_time: 2024-12-31
    account: 100000000
    benchmark: *benchmark
    exchange_kwargs:
      limit_threshold: 0.095
      deal_price: close
      open_cost: 0.0005
      close_cost: 0.0015
      min_cost: 5

task:
  model:
    class: LGBModel
    module_path: qlib.contrib.model.gbdt
    kwargs:
      loss: mse
      colsample_bytree: 0.8879
      learning_rate: 0.05
      subsample: 0.8789
      lambda_l1: 205.6999
      lambda_l2: 580.9768
      max_depth: 8
      num_leaves: 128
      num_threads: 8
      n_estimators: 1000
      early_stopping_rounds: 50
  dataset:
    class: DatasetH
    module_path: qlib.data.dataset
    kwargs:
      handler:
        class: HEATopFactors
        module_path: project_qlib.factors.hea_top_factors
        kwargs: *data_handler_config
      segments:
        train: [2018-01-01, 2022-12-31]
        valid: [2023-01-01, 2023-12-31]
        test: [2024-01-01, 2024-12-31]
  record:
    - class: SignalRecord
      module_path: qlib.workflow.record_temp
      kwargs:
        model: <MODEL>
        dataset: <DATASET>
    - class: SigAnaRecord
      module_path: qlib.workflow.record_temp
      kwargs:
        ana_long_short: false
        ann_scaler: 252
    - class: PortAnaRecord
      module_path: qlib.workflow.record_temp
      kwargs:
        config: *port_analysis_config
